<form class="row g-3" Style="background-color:antiquewhite">
    <div class="col-10 container-md">
        <div class="container-md"> 
            <p class="fs-2 fw-bolder">Reservaciones</p>
        </div>
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" required>
            <option *ngFor="let sala of tablaSala" value="{{sala.id}}">{{sala.nombre_sala}}</option>
          </select>
        </div>
        <div class="col-10 container-md">
          <label for="">Fecha inicial</label>
          <input type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00">
        </div>
        <div class="col-10 container-md">
          <label for="">Fecha final</label>
          <input type="datetime-local" id="meeting-time" name="meeting-time" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00">
        </div>
    <div class="col-10 container-md">
      <button mat-raised-button type="submit" class="btn btn-primary" style="align-items: center;">Enviar</button>
    </div>
  </form>
