<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<form class="row g-3" Style="background-color:antiquewhite">
    <div class="col-10 container-md">
        <div class="container-md"> 
            <p class="fs-2 fw-bolder">Salas</p>
        </div>
      <label for="validationCustom01" class="form-label">Nombre de la sala</label>
      <input type="text" class="form-control" formControlName="nombre_equipo" value="" required>
    </div>
    <div class="col-10 container-md">
      <button mat-raised-button type="submit" class="btn btn-primary" style="align-items: center;">Enviar</button>
    </div>
  </form>