<form class="row g-3" Style="background-color:antiquewhite" [formGroup]="salaForm" (ngSubmit)="SetSala()">
    <div class="col-10 container-md">
        <div class="container-md"> 
            <p class="fs-2 fw-bolder">Salas</p>
        </div>
      <label for="validationCustom01" class="form-label">Nombre de la sala</label>
      <input type="text" class="form-control" formControlName="sala" value="" required>
    </div>
    <div class="col-10 container-md">
      <button mat-raised-button type="submit" class="btn btn-primary" style="align-items: center;">Enviar</button>
      <button mat-raised-button (click)="GetSala()" class="btn btn-primary" style="align-items: center;">Mostrar</button>
    </div>
</form>
<div>
  <table>
    <tr>
      <td>ID</td>
      <td>Nombre de la sala</td>
      <td>Acciones</td>
    </tr>
    <tr *ngFor="let tabla of tablaSala">
      <td>{{tabla.id}}</td>
      <td>{{tabla.nombre_sala}}</td>
      <td><button mat-raised-button (click)="DeleteSala(tabla.id)" class="btn btn-danger" style="align-items: center;">Eliminar</button></td>
    </tr>
  </table>
</div>